*{
    font-family: sans-serif;
}
.container{
    display: flex;
    width: 70%;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
}
ul{
    list-style: none;
}
h1{
    color: blue;
}